
.vs/Client/v16/Server/sqlite3/storage.ide
.vs/Client/v16/Server/sqlite3/storage.ide-shm
.vs/Client/v16/Server/sqlite3/storage.ide-wal
Client/obj/Debug/Client.csprojAssemblyReference.cache
.vs/Client/v16/.suo
